body {
height: 95vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
animation: col 20s infinite;
background-color: black;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

h1 {
    text-align: center;
    text-shadow: 4px 4px 5px;
}

p {
    text-align: center;
    text-shadow: none;
    font-size: large;
    color: aliceblue;
}

button {
    border-radius: 0.5em;
    background-color: rgb(65, 65, 65);
    color: aliceblue;
    box-shadow: 3px 3px rgb(92, 92, 92);
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

button:focus {
    transform: scale();
}

.checkbox {
    transform: scale(1.3);
    margin-right: 1em;
}
.amount {
    justify-content: center;
    width: 3em;
    height: 2em;
    margin: 0.5em;
}

#number{
    width: 2.5em;
    height: 1.2em;
    margin: auto;
    background-color: rgb(65, 65, 65);
    color: aliceblue;
    border-radius: 0.5em;
    border-style: solid;
    border-color: grey;
    box-shadow: 3px 3px  rgb(92, 92, 92);
}

#generate {
    width: 11em;
    height: 4em;
    margin-top: 1em;
    border-radius: 1em;
}

#password {
    border-style: solid;
    border-color: aliceblue;
    border-radius: 0.5em;
    padding: 0.5em;
    color: aliceblue;
}

@keyframes colo {
    0% {background-color: rgb(136, 191, 240);}
    25% {background-color: aqua;}
    50% {background-color: cornflowerblue;}
    75% {background-color: blue;}
    100% {background-color: darkblue;}
}